*{
    background-color: bisque;
}
table{
margin: 30px ;
border-radius:20px ;
padding:10px ;
background-color: rgb(0, 0, 0, 0.6);
color: white;

}

th{
border-radius:20px ;
text-align: center ;
padding: 8px ;
box-shadow: 0 0 10px black;
background-color: rgb(0, 0, 0, 0.8);
}